@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Knewave&family=Racing+Sans+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column-layout {
    width: 100%;
    color: white;
    font-family: "Racing Sans One", serif;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/football.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.single-column-layout #name {
    margin: 0px;
    padding: 12px;
    font-size: 24px;
}

.single-column-layout #superbowl {
    margin: 0px;
    font-size: 72px;
}

.single-column-layout #extra-party {
    margin: 0px;
    padding: 16px;
    font-size: 40px;
}

.single-column-layout .team {
    margin: 16px;
    padding: 12px;
    font-size: 36px;
}

.single-column-layout #vs {
    font-size: 72px;
}

.single-column-layout #time {
    margin: 32px;
    font-size: 52px;
}

.single-column-layout p {
    padding: 0px 72px;
    font-size: 28px;
}

.single-column-layout p #start{
    margin-top: 20px;
}

.single-column-layout p #end{
    margin-bottom: 20px;
}

.single-column-layout #location {
    margin-top: 28px;
    margin-bottom: 48px;
    font-size: 24px;
}

.single-column-layout a {
    background-color: rgb(196, 0, 0);
    padding: 16px;
    border-radius: 36px;
    margin: 48px;
    font-size: 28px;
}

.single-column-layout #contact {
    margin-top: 48px;
    font-size: 16px;
}

.single-column-layout a {
    text-decoration: none;
    color: black;
}

.single-column-layout a:hover {
    background-color: rgb(255, 105, 105);
    color: rgb(180, 180, 180);
}

.side-by-side {
    display: flex;
    align-items: center;
}

.side-by-side .image-container {
    flex: 1;
}

.side-by-side .image-container img {
    width: 250px;
    margin-top: 32px;
}

@media screen and (max-width: 775px) {
    
    .single-column-layout #time {
        font-size: 48px;
    }

    .side-by-side .image-container img {
        width: 150px;
    }
}

@media screen and (max-width: 655px) {

    .single-column-layout #vs {
        font-size: 36px;
    }

    .single-column-layout .team {
        font-size: 28px;
    }
    
    .single-column-layout #time {
        font-size: 32px;
    }

    .single-column-layout p {
        font-size: 16px;
    }

    .single-column-layout #location {
        font-size: 20px;
    }

    .single-column-layout a {
        margin: 24px;
        font-size: 20px;
    }
}