/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

#cosmic-warp {
    margin-top: 30px;
    padding: 5px;

    border-style: inset;
    border-width: 5px;
    border-color: rgb(31, 65, 188);
    background-color: rgb(131, 131, 131);
}

#black-hole {
    margin-top: 170px;
    margin-left: 150px;
    margin-right: -50px;
}

#supernova {
    margin-top: 170px;
    margin-left: -50px;
    margin-right: 150px;
}

#space-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin: -10px 0px 0px 250px;
    display: inline-block;
}