/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

#cosmic-warp {
    margin-top: 10px;
    margin-right: 10px;
}

#black-hole {
    margin-top: 100px;
    margin-left: 10px;
}